__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pyzw
**/*.pyzwz

experiments/**
traffic_weather_data/**
data.csv
data.csv.gz
data.csv.bz2
data.csv.xz
data.csv.tar
data.csv.tar.gz
data.csv.tar.bz2
data.csv.tar.xz
*.csv
*.ipynb
*.zip
___MACOSX/