__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pyzw
**/*.pyzwz

wandb/**

*.zip
*.gz
*.bz2
*.xz
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz


experiments/**
traffic_weather_data/**
data.csv
data.csv.gz
data.csv.bz2
data.csv.xz
data.csv.tar
data.csv.tar.gz
data.csv.tar.bz2
data.csv.tar.xz